/* * FORMA */ 
.form-2{
    margin: 5%;
}
.form-title{
    padding:20px 50px;
    color: var(--blue-500);
}
.form-title strong{
    color: var(--yellow-500);
}
.my-form{
    background: inherit;
    position: relative;
    z-index: 999;
    padding: 10px;
    padding: 50px 0;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(112,112,112,0.24); 
    box-shadow: 5px 5px 15px 5px rgba(112,112,112,0.24);
    border-radius: 50px;
   padding: 40px;
   
}


.form-select{
    font-size: 14px;
}
.input-group input, .form-select{
    border-top-right-radius: var(--br-l)!important;
    border-bottom-right-radius: var(--br-l)!important;
}
.input-group span{
    border-top-left-radius: var(--br-l)!important;
    border-bottom-left-radius:var(--br-l) ;
}
.my-form input{
    font-size: 12px;
}
.Get-quote {
  margin-top: 3%;
}



.move-date{
    z-index: 10;
}

.my-form input {
  padding: 13px;
}



.form-btn {
  display: block;
  margin: auto;
  width: 96%;
  padding:10px 20px;
  background-color: var(--yellow-500);
  color: var(--main-white);
  z-index: 9;
  border-radius: var(--br-l);
}

.form-btn:hover {
  background-color: var(--yellow-300);
}

.strelica {
  color: var(--main-white)!important;
}

/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
   
} */

#datum input {
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
  
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;

    top: 0;
    width: auto;
}
.request-svg-bot{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.form-dugme{
    background-color: var(--red-500);
    border-radius: var(--br-l);
    color:var(--white-500);
    box-shadow: 0 10px 35px 0 rgb(246 97 106 / 50%);
    padding: 10px ;
}
.form-dugme:hover{
    transition: ease-in-out 0.5s;
    background-color: var(--blue-500);
   
}
@media (max-width:1200px) {
  .delatnost p {
      display: block;
      margin-left: 9%;
      font-size: 14px;
  }
  .Get-quote h1 {
      font-size: 50px;
      font-weight: 900;
      color: var(--main-black);
      margin-bottom: 5%;
  }
}