<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <title>Footer</title>
  </head>
  <body>
      <footer id="footer">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 <p> OUR LOCATION </p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="23.413" height="23.235" viewBox="0 0 23.413 13.235">
                    <path id="Path_9" data-name="Path 9" d="M16.163,17.107,8.17,8.4a1.769,1.769,0,0,1,0-2.489,1.73,1.73,0,0,1,2.466,0l9.746,9.945a1.774,1.774,0,0,1,0,2.491L10.635,28.3a1.73,1.73,0,0,1-2.466,0,1.769,1.769,0,0,1,0-2.489Z" transform="translate(28.812 -7.658) rotate(90)" fill="#fff"/>
                  </svg>
                  
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d789818.9979268779!2d-104.68219483806337!3d39.35101739191263!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x315aed4b1349fb7b!2sCentennial%20Movers!5e0!3m2!1sen!2srs!4v1646423848748!5m2!1sen!2srs" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
              </div>
            </div>
           
          </div>
          <div class="footer-bot">
          <div class="container">
              <div class="row">
              <div class="col-lg-5 offset-lg-1 col-sm-12 left-footer">
                  <h3>Centennial Movers</h3>
                  <ul>
                      <li><a href="">Home</a></li>
                      <li><a href="">Services</a></li>
                      <li><a href="">Blog</a></li>
                      <li><a href="">FAQ</a></li>
                      <li><a href="">About Us</a></li>
                      <li><a href="">Contact Us</a></li>
                      
                  </ul>
                  <p>© Centennial Movers. All rights reserved.</p>
              </div>
              <div class="col-lg-4 offset-lg-1 offset-left-lg-1 col-sm-12 footer-right">
                  <div class="info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 19.96">
                        <g id="Layer_2" data-name="Layer 2" transform="translate(-2 -2)">
                          <g id="phone" transform="translate(2 2)">
                            <path id="Path_10" data-name="Path 10" d="M17.369,21.96A15.389,15.389,0,0,1,2,6.591,4.591,4.591,0,0,1,6.591,2a3.932,3.932,0,0,1,.768.07,3.782,3.782,0,0,1,.719.18A1,1,0,0,1,8.727,3l1.367,5.988a1,1,0,0,1-.259.918c-.13.14-.14.15-1.367.788a9.89,9.89,0,0,0,4.86,4.88c.649-1.238.659-1.248.8-1.377a1,1,0,0,1,.918-.259L21.032,15.3a1,1,0,0,1,.719.649,4.331,4.331,0,0,1,.19.729,4.76,4.76,0,0,1,.06.758A4.591,4.591,0,0,1,17.369,21.96Z" transform="translate(-2 -2)" fill="#fff"/>
                          </g>
                        </g>
                      </svg>
                      <p>Phone</p>
                  </div>
                  <div class="info-links">
                    <a href="tel:(720) 863-7687">(720) 863-7687</a>
                </div>
                <div class="info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 16">
                        <path id="Path_12" data-name="Path 12" d="M20,4H4A2,2,0,0,0,2.01,6L2,18a2.006,2.006,0,0,0,2,2H20a2.006,2.006,0,0,0,2-2V6A2.006,2.006,0,0,0,20,4Zm-.4,4.25-7.07,4.42a1.011,1.011,0,0,1-1.06,0L4.4,8.25a.849.849,0,1,1,.9-1.44L12,11l6.7-4.19a.849.849,0,1,1,.9,1.44Z" transform="translate(-2 -4)" fill="#fff"/>
                      </svg>
                      
                      <p>Email</p>
                  </div>
                  <div class="info-links">
                    <a href="tel:(720) 863-7687">(720) 863-7687</a>
                </div>
                <div class="info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <path id="Path_13" data-name="Path 13" d="M12,2A10,10,0,1,0,22,12,10.029,10.029,0,0,0,12,2Zm2,13.7a1.012,1.012,0,0,1-1.4-.4l-1.5-2.8A.9.9,0,0,1,11,12V7a1,1,0,0,1,2,0v4.7l1.4,2.6A1.107,1.107,0,0,1,14,15.7Z" transform="translate(-2 -2)" fill="#fff"/>
                      </svg>
                      
                      <p>Working Days/Hours</p>
                  </div>
                  <div class="info-links">
                    <a href="tel:(720) 863-7687">Mon - Sun 07.00AM - 07.00PM</a>
                </div>
              </div>
              
          </div>
        </div>
        </div>
</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>