<div class="localcards">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 d-flex">
        <div class="greencard">
          <p>{{greentxt1}}</p>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 d-flex">
        <div class="greencard">
          <p>{{greentxt2}}</p>
        </div>
      </div>
    </div>
    <p class="text-center">
      So no matter what kind of relocation services you need for your local move
      in San Diego, we can help you and make it a positive experience for you
      and everyone involved in the transition.
    </p>
  </div>
</div>
