<div class="flickity">
  <div class="main-carousel" data-flickity>
    <div class="carousel-cell">
      <img src="/assets/images/headphones-card.webp" alt="getting a quote" />
    </div>
    <div class="carousel-cell">
      <img src="/assets/images/booking.webp" alt="booking" />
    </div>
    <div class="carousel-cell">
      <img src="/assets/images/confirm.webp" alt="confirm" />
    </div>
    <div class="carousel-cell">
      <img src="/assets/images/move-date.webp" alt="move date" />
    </div>
    <div class="carousel-cell">
      <img src="/assets/images/transport.webp" alt="transport" />
    </div>
    <div class="carousel-cell">
      <img src="/assets/images/reassembling.webp" alt="reassembling" />
    </div>
    <div class="carousel-cell">
      <img src="/assets/images/check-up.webp" alt="check-up" />
    </div>
    <div class="carousel-cell">
      <img src="/assets/images/client.webp" alt="client" />
    </div>
  </div>
</div>
