

.pianofull {
    height: 570px;
    background-color: var(--white-500);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    isolation: isolate;
   
}
.pianofull::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('/assets/images/dark-piano.webp');
    background-position:center;
  
    background-repeat: no-repeat;
   
    z-index: -1;
}
.pianofull h2{
    color: var(--white-500);
}
.pianofull p{
    color: var(--white-500);
    padding: 10px 0;
}
.pianofull .reusableheader{
    color: var(--white-500) !important;
}