<div class="section">
  <div class="container">
    <div class="row">
      <Contact-ContactCard
        lb-props-title="PHONE"
        lb-props-txt="(619) 658-4004"
        lb-props-url="tel:(619) 658-4004"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="73"
          height="73"
          viewBox="0 0 73 73"
        >
          <g id="Phone" transform="translate(-0.413 0.315)">
            <g
              id="invisible_box"
              data-name="invisible box"
              transform="translate(0.413 -0.315)"
            >
              <rect
                id="Rectangle_52"
                data-name="Rectangle 52"
                width="73"
                height="73"
                fill="none"
              />
            </g>
            <g
              id="icons_Q2"
              data-name="icons Q2"
              transform="translate(14.423 3.492)"
            >
              <path
                id="Path_37"
                data-name="Path 37"
                d="M47.8,7.969V61.692H14.969V7.969H47.8M50.784,2h-38.8A2.985,2.985,0,0,0,9,4.985V64.676a2.985,2.985,0,0,0,2.985,2.985h38.8a2.985,2.985,0,0,0,2.985-2.985V4.985A2.985,2.985,0,0,0,50.784,2Z"
                transform="translate(-9 -2)"
                fill="#366d09"
              />
              <path
                id="Path_38"
                data-name="Path 38"
                d="M26.969,36H23.985a2.985,2.985,0,1,0,0,5.969h2.985a2.985,2.985,0,1,0,0-5.969Z"
                transform="translate(-3.093 14.738)"
                fill="#366d09"
              />
            </g>
          </g>
        </svg>
      </Contact-ContactCard>
      <Contact-ContactCard
        lb-props-title="EMAIL"
        lb-props-txt="greenmovers1@gmail.com"
        lb-props-url="mailto:greenmovers1@gmail.com"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="80"
          height="73"
          viewBox="0 0 80 73"
        >
          <g id="Mail" transform="translate(0 0.124)">
            <g
              id="invisible_box"
              data-name="invisible box"
              transform="translate(0 -0.124)"
            >
              <rect
                id="Rectangle_50"
                data-name="Rectangle 50"
                width="80"
                height="73"
                fill="none"
              />
            </g>
            <g
              id="icons_Q2"
              data-name="icons Q2"
              transform="translate(1.659 5.763)"
            >
              <path
                id="Path_34"
                data-name="Path 34"
                d="M75.025,7H5.477A3.54,3.54,0,0,0,2,10.6V64.606a3.54,3.54,0,0,0,3.477,3.6H75.025a3.54,3.54,0,0,0,3.477-3.6V10.6A3.54,3.54,0,0,0,75.025,7ZM71.548,61.006H8.955V24.462L39.382,43a1.521,1.521,0,0,0,1.739,0L71.548,23.922ZM41.121,34.723a1.521,1.521,0,0,1-1.739,0L8.955,14.2H71.548Z"
                transform="translate(-2 -7)"
                fill="#366d09"
              />
            </g>
          </g>
        </svg>
      </Contact-ContactCard>
      <Contact-ContactCard
        lb-props-title="LOCATION"
        lb-props-txt="San Diego, CA"
        lb-props-url="https://www.google.com/maps?ll=33.01693,-116.84601&z=8&t=m&hl=en&gl=RS&mapclient=embed&cid=896875028457304987"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="73"
          height="73"
          viewBox="0 0 73 73"
        >
          <g id="Location" transform="translate(0.264 0.234)">
            <g
              id="invisible_box"
              data-name="invisible box"
              transform="translate(0 0.03)"
            >
              <rect
                id="Rectangle_49"
                data-name="Rectangle 49"
                width="73"
                height="73"
                transform="translate(-0.264 -0.264)"
                fill="none"
              />
            </g>
            <g
              id="icons_Q2"
              data-name="icons Q2"
              transform="translate(18.238 6.069)"
            >
              <g id="Group_76" data-name="Group 76">
                <path
                  id="Path_33"
                  data-name="Path 33"
                  d="M48.479,22.256A18.239,18.239,0,1,0,27.2,40.191V61.774a3.04,3.04,0,0,0,6.08,0V40.191a18.087,18.087,0,0,0,15.2-17.935ZM30.24,34.416A12.159,12.159,0,1,1,42.4,22.256,12.159,12.159,0,0,1,30.24,34.416Z"
                  transform="translate(-11.999 -3.968)"
                  fill="#366d09"
                />
                <circle
                  id="Ellipse_10"
                  data-name="Ellipse 10"
                  cx="6.5"
                  cy="6.5"
                  r="6.5"
                  transform="translate(11.498 11.697)"
                  fill="#366d09"
                />
              </g>
            </g>
          </g>
        </svg>
      </Contact-ContactCard>
    </div>
  </div>
</div>
