.who-we-are {
    position: relative;
    isolation: isolate;
    padding-top: 8rem;
}

.who-we-are::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 140%;
    left: -20%;
    background-color: var(--gray-300);
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50% 50% 0 0;
    z-index: -1;
}

.who-we-are button {
    margin-top: 2rem;
}
