<header class="fixed-top">

  </div>
  <nav id="main-nav" class="navbar navbar-expand-lg navbar-light initial-nav">
    <div class="container">
      <a class="navbar-brand" href="/pages/home/">
        <img
          id="navbar-brand-image"
          src="/assets/images/GreenMoversLogo.jpg"
          alt="Green Movers San Diego Movers Home"
          height="50px"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/pages/home">home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/pages/Services" id="navbarDropdown" role="button"  aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/pages/Local-Moving-San-Diego/">Local Moving</a></li>
              <li><a class="dropdown-item" href="/pages/Residential-Moving-San-Diego/">Residential Moving</a></li>
              <li><a class="dropdown-item" href="/pages/Commercial-Moving-San-Diego/">Commercial Moving </a></li>
              <li><a class="dropdown-item" href="/pages/Apartment-Moving-San-Diego/">Apartment Moving</a></li>
              <li><a class="dropdown-item" href="/pages/Labor-Moving-San-Diego/">Labor Moving</a></li>
              <li><a class="dropdown-item" href="/pages/Storage-In-And-Out-San-Diego/">Storage in and out</a></li>
              <li><a class="dropdown-item" href="/pages/Packers-And-Movers-San-Diego/">Packers And Movers</a></li>
              <li><a class="dropdown-item" href="/pages/Piano-Moving-San-Diego/">Piano Moving</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/blog/">blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/Gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/AboutUs/">about us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/faq/">faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/contact">contact</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</header>
