
.localcards .greencard{
    background-color: var(--green-500);
    padding:80px;
    border-radius: var(--br-l);
    margin: 50px;
    margin-top: 0;
  
   
}
.localcards .greencard p{
    color: var(--white-500);
}
@media(max-width:992px){
    .localcards .greencard{
        margin: 0;
        margin-bottom: 20px;
    }
}